
@hover-color: #e0f0ff;
@border-radius: 5px;
@border-color: #ccc;

.tree {
  .tree-node {
    &.open > .head > .expander {
      visibility: hidden;
    }
    &.closed > .head {
      > .expander {
        color: #777;
      }
      &:hover {
        > .expander {
          color: black;
        }
      }
    }

    &.open > .head > .expander:before {
      content: "\f068";
    }
    &.closed > .head > .expander:before {
      content: "\f067";
    }
    
    > .head {
      display: flex;

      > .expander {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        padding-top: 3px;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

    }
    &.open > .head {
      &:hover > .expander {
        visibility: visible;
      }
    }
  }
}

.simple-theme.note {
  display: flex;
  flex: 1;

  input.body {
    flex: 1;
    border: none;
    border-bottom: 1px dashed white;

    &:focus {
      border-bottom-color: #777;
      outline: none;
    }
  }
  .dropicon {

    .list {
      border: 1px solid #ccc;
      box-shadow: 1px 1px 2px rgba(0,0,0,.3);
      border-radius: @border-radius;

      li::first-child {
        border-top-left-radius: @border-radius;
        border-top-right-radius: @border-radius;
      }
      li::last-child {
        border-bottom-left-radius: @border-radius;
        border-bottom-right-radius: @border-radius;
      }
    }

    i {
      margin-right: 3px;
    }

    .head > * {
      padding: 5px;
      font-size: 10px;
    }
    li > * {
      padding: 5px 10px 5px 5px;
    }

    li.selected > *,
    li > *:hover {
      background-color: #acf;
    }
  }
}

