.tree .tree-node.open > .head > .expander {
  visibility: hidden;
}
.tree .tree-node.open > .head > .expander:before {
  content: "\f068";
}
.tree .tree-node.closed > .head > .expander:before {
  content: "\f067";
}
.tree .tree-node > .head {
  display: flex;
}
.tree .tree-node > .head > .jumpto {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding-top: 3px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 5px;
  visibility: hidden;
  color: #777;
}
.tree .tree-node > .head > .jumpto:hover {
  color: black;
}
.tree .tree-node > .head > .jumpto:before {
  content: "\f101";
}
.tree .tree-node > .head:hover > .jumpto {
  visibility: visible;
}
.tree .tree-node > .head > .expander {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding-top: 3px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #777;
}
.tree .tree-node > .head > .expander:hover {
  color: black;
}
.tree .tree-node.open > .head:hover > .expander {
  visibility: visible;
}
.simple-theme.note {
  display: flex;
  flex: 1;
}
.simple-theme.note .body input,
.simple-theme.note .body textarea,
.simple-theme.note .body .shadow,
.simple-theme.note input.body,
.simple-theme.note textarea.body {
  border: none;
  border-bottom: 1px dashed white;
}
.simple-theme.note .body input:focus,
.simple-theme.note .body textarea:focus,
.simple-theme.note .body .shadow:focus,
.simple-theme.note input.body:focus,
.simple-theme.note textarea.body:focus {
  border-bottom-color: #777;
  outline: none;
}
.simple-theme.note .body input,
.simple-theme.note .body.input {
  height: 1em;
}
.simple-theme.note > .body.input-head {
  flex: 1;
}
.simple-theme.note .body.scripture-input {
  display: flex;
  flex: 1;
}
.simple-theme.note .body.scripture-input .scripture-reference {
  width: 80px;
  vertical-align: top;
}
.simple-theme.note .body.scripture-input .scripture-text {
  flex: 1;
}
.simple-theme.note .dropicon .list {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.simple-theme.note .dropicon .list li::first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.simple-theme.note .dropicon .list li::last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.simple-theme.note .dropicon i {
  margin-right: 3px;
}
.simple-theme.note .dropicon .head > * {
  padding: 5px;
  font-size: 10px;
}
.simple-theme.note .dropicon li > * {
  padding: 5px 10px 5px 5px;
}
.simple-theme.note .dropicon li.selected > *,
.simple-theme.note .dropicon li > *:hover {
  background-color: #acf;
}
